@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  .bg-discord-default {
    --tw-bg-opacity: 1;
    background-color: rgb(54 57 62 / var(--tw-bg-opacity));
  }

  .bg-discord-blue {
    --tw-bg-opacity: 1;
    background-color: rgb(114 137 218 / var(--tw-bg-opacity));
  }
}

@layer components {
  .game-target {
    border-radius: 0.5rem/* 8px */;
    /*--tw-bg-opacity: 1;*/
    /*background-color: rgb(185 28 28 / var(--tw-bg-opacity));*/
    height: 10%;
    width: 10%;
    position: absolute;
    left: 5%;
    top: 5%;

    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
}

