{% extends "FSApp/base.html" %}
{% load FSApp_extras %}
{% load static %}

{% block title %}Game{% endblock %}

{% block content %}


<div class="pt-2">

  <div class="flex mx-auto mt-4 mb-2 h-10 w-[500px] justify-between items-center">

      <div id="difficulty" class=" text-2xl inline-block self-end flex-1">
        
      </div>

      <div id="start-game-buttons" class="">
          {% difficulty_names as difficulties %}
          {% for diff_name in difficulties %}
        <button id="start-game-easy" type="button" data-value="{{ forloop.counter0 }}"
                class="focus:outline-none text-white bg-green-700 hover:bg-green-800
                focus:ring-4 focus:ring-green-300 font-medium rounded-lg
                text-sm px-5 py-2.5 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
        >{{ diff_name }}</button>
          {% endfor %}
      </div>

      <div id="timer-wrapper" class="invisible flex self-end flex-1 justify-end">
        {% include "FSApp/components/timer.html" %}
      </div>


  </div>

  <div class="flex justify-center">

    <div id="hp-container" class="relative place-self-end">
      <img src="../../../static/FSApp/img/heart-70px.svg" alt="health image">
      <div id="hp-display" class="absolute text-white text-4xl" style="left: 40%; top: 8%;">
        3
      </div>
    </div>

    <div id="frame" class="overflow-hidden flex justify-center bg-discord-blue border-gray-200
    rounded-lg shadow dark:border-gray-700 h-[500px] w-[500px] relative
    select-none
    ">
{#      <div class="game-target"> </div> sometimes tailwind might remove game-target. Include it in code for it to regenerate it #}

          <div id="end-of-game" class="bg-purple-900 w-2/4 h-1/3 self-center z-10
                rounded-xl flex flex-col hidden
           ">
            <div class="flex justify-center pt-4">
              Good game {{ user.username }}!
            </div>
            {% if request.user.is_authenticated %}
              <div class="flex justify-center">
                <span id="end-record-time">

                </span>
              </div>
            {% else %}
              <div class="flex justify-center pt-4 px-10">
                If you want your games to be recorded,<br>please login
              </div>
            {% endif %}
            </span>

            </div>
        </div>

        <div id="kills-section" class="flex flex-col items-center self-end">
          <div id="kill-display" class="text-white text-2xl min-w-16 text-center">
          0
          </div>
          <img src="../../../static/FSApp/img/bullet.png" alt="kills image" style="height: 50px;">

        </div>
    </div>

    <div class="flex justify-center pt-1">
        <label id="bg-audio-checkbox" class="inline-flex justify-self-center items-center cursor-pointer">
          <input id="bg-audio-box" type="checkbox" value="" class="sr-only peer" checked>
          <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-2
          peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700
          peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full
          peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px]
          after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full
          after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
          <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">bg music</span>
        </label>

        <label id="audio-checkbox" class="ml-4 inline-flex justify-self-center items-center cursor-pointer">
          <input id="audio-box" type="checkbox" value="" class="sr-only peer" checked>
          <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-2
          peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700
          peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full
          peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px]
          after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full
          after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
          <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">sound</span>
        </label>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="{% static "FSApp/js/timer.js" %}"></script>
<script src="{% static "FSApp/js/game.js" %}"></script>


{% endblock %}