{% extends "FSApp/base.html" %}

{% block title %}Game{% endblock %}

{% block content %}

<style>
  .game-target {
    border-radius: 0.5rem/* 8px */;
    --tw-bg-opacity: 1;
    background-color: rgb(185 28 28 / var(--tw-bg-opacity));
    height: 10%;
    width: 10%;
    position: fixed;
    left: 5%;
    top: 5%;
  }
</style>
  <!-- I DONT FUCKING KNOW WHY THIS DOESN'T WORK IF IT ISN'T HERE, KILL ME -->

<div>
  <br>
  <div>

  <div class="flex justify-center">
    <button id="start-game" type="button"
            class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
    >Start Game</button>
  </div>

  <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">

    <div id="frame" class="game-frame">

    </div>

  </div>
</div>
</div>


<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="../../../static/FSApp/js/game.js"></script>

{% endblock %}