{% extends "FSApp/base.html" %}

{% block title %}Stats{% endblock %}

{% load humanize %}

{% block content %}
  <div>
  <aside id="logo-sidebar" class="fixed top-0 left-0 z-10 h-screen mt-12 border-r
  bg-gray-800 border-gray-700 w-36" aria-label="Sidebar">
   <div class="h-full px-3 pb-4 overflow-y-auto bg-gray-800">
      <ul class="space-y-2 font-medium">
        {% for id, date in items %}
        <li class="flex justify-center ">

          <button id="{{ id }}" onclick="clickedGameButton(this.id)"
                  class="flex flex-col items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
            >
            <span>{{ id }}</span>
            <span>{{ date | naturaltime}}</span>
          </button>

        </li>
        {% endfor %}
      </ul>
   </div>
  </aside>

  <div class="ml-36 max-w-[calc(100%-9rem)] px-10">

    {% include "FSApp/components/error_box.html" %}

    <div class="pt-4">

    </div>

    <div id="plot-1" class=" py-4 max-w-[1200px] mx-auto">

    </div>

    <div class="flex flex-row justify-center">
      <div class="w-20">

      </div>
      <div class="">
        <div id="plot-2" class="">

        </div>
        <div id="plot-3" class="hidden">

        </div>
      </div>
      <div id="dotplot-menu" class="mt-6 invisible w-20">
        <div class="flex items-center mb-4">
          <input checked id="radio-1" type="radio" value="1" name="default-radio" onclick="togglePlot(this)"
                 class="w-5 h-5 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
          <label for="radio-1" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Hits</label>
        </div>
        <div class="flex items-center">
          <input id="radio-2" type="radio" value="2" name="default-radio" onclick="togglePlot(this)"
                 class="w-5 h-5 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
          <label for="radio-2" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Misses</label>
        </div>
      </div>
    </div>

    <div id="plot-4" class="py-4 max-w-[1169px] mx-auto">

    </div>
    <div id="replay" class="py-4 flex justify-center">

    </div>
    <div id="replay-request-text" class="flex justify-center invisible">
        <button type="button" onclick="getReplay()"
                class="flex w-60 justify-center rounded-md
        bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6
        text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2
        focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Get replay</button>
    </div>
    <div id="waiting" class="flex justify-center invisible">
      <div role="status">
        <svg aria-hidden="true" class="h-32 aspect-square text-gray-200 animate-spin dark:text-gray-600 fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
            <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
        </svg>
        <span class="sr-only">Loading...</span>
      </div>
    </div>

  </div>
</div>

  <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
  <script src="../../../static/FSApp/js/stats.js"></script>
  <script src="https://cdn.plot.ly/plotly-2.30.0.min.js" charset="utf-8"></script>

{% endblock %}

