{% load static %}

<!DOCTYPE html>
<!-- bg-zinc-900 -->
<html class="h-full bg-discord-default text-white dark" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}base page{% endblock %}</title>

    <link href="{% static "FSApp/css/base.css" %}" rel="stylesheet">
    <link rel="icon" href="{% static "FSApp/img/logo.png" %}" type="image/png">

    {% block headerJS %}{% endblock %}
    {% block headerCSS %}{% endblock %}
</head>
<body class="">

    <div>
        {% include "FSApp/components/navbar.html" %}

         <noscript>You need to enable JavaScript to run this app.</noscript>

        <div class="mt-12">
        {% block content %}{% endblock %}
        </div>
    </div>

</body>
</html>