<!DOCTYPE html>
<!-- bg-zinc-900 -->
<html class="h-full bg-discord-default text-white" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}base page{% endblock %}</title>

    <link href="../../static/FSApp/css/base.css" rel="stylesheet">
    <link rel="shortcut icon" href="#">

    {% block headerJS %}{% endblock %}
    {% block headerCSS %}{% endblock %}
</head>
<body class="h-full">

    <div class="h-screen flex flex-col">

        {% include "FSApp/components/navbar.html" %}

        {% block content %}{% endblock %}
    </div>

</body>
</html>